* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    overflow-x: hidden;
}
body {
    display: flex;
    flex-direction: column;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1.75px solid #c2c2c2;
    margin-bottom: 10px;
    height: 64px;
}
header .logo {
    width: 250px;
    margin-left: 10px;
}
header .menu, nav .close, .menuClose img  {
    width: 30px;
    height: 30px;
    margin: 10px;
}
.menu, .close {
    display: none;
}
ul {
    display: flex;
}
li img {
    width: 30px;
    margin-right: 10px;
}
li a {
    display: flex;
    align-items: center;
    padding: 15px;
    font-weight: bold;
    border-bottom: 4px solid transparent;
}
li a:hover {
    color: #367c2b;
    background-color: #ffde00;
    border-bottom: 4px solid #367c2b;
}
li.active a {
    border-bottom: 4px solid #367c2b;
}
main {
    left: 0;
    top: 0;
    right: 0;
    height: 65px;
    background-color: #367c2b;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.menuOpenner {
    display: flex;
    align-items: center;
    margin-right: 15px;
    font-size: 30px;
    background-color: #ffde00;
    padding: 5px 20px;
    border-radius: 5px;
}
.menuOpenner span {
    margin-left: 10px;
}
.menuOpenner img {
    width: 30px;
    height: 30px;
}
aside {
    display: none;
    background-color: #ffde00;
    width: 100vw;
    position: fixed;
    top: 0;
    bottom: 0;
}
.cart {
    margin-left: 20px;
}
.pedido {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    padding: 25px;
    background-color: #c2c2c2;
    width: 700px;
    border-radius: 10px;
}
.pedido h1 {
    margin: 15px;
    margin-top: 0;
    text-align: center;
    font-size: 40px;
}
.kit {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.kit p {
    font-size: 20px;
    margin: 20px;
}
.produto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 600px;
    background-color: #fff;
    border-radius: 10px;
}
.produto img {
    width: 600px;
    height: 600px;
    background-color: #fff;
}
.kitAdd {
    width: 75px;
    height: 75px;
    line-height: 75px;
    border-radius: 50%;
    background-color: #367c2b;
    text-align: center;
    color: #ffde00;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    margin-top: -37.5px;
}
.selecionar {
    display: none;
    border: 2.5px solid #ffde00;
    border-radius: 10px;
    margin-top: 25px;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    color: #ffde00;
    background-color: #367c2b;
}
.selecionar:hover {
    background-color: #2b6322;
    cursor: pointer;
}
footer {
    border-top: 1.75px solid #c2c2c2;
    background-color: #e2e2e2;
    font-size: 14px;
    text-align: center;
    margin-top: 30px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}
footer span, footer a {
    margin: 0 15px;
    color: #666;
}
footer span {
    display: flex;
    justify-content: center;
    margin: 15px;
}
.country-link {
    margin: auto;
    color: #333;
    border: 2px solid #c2c2c2;
    padding: 14px 30px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
}
.country-link img {
    margin-right: 5px;
    height: 12px;
    border: 1px solid #000;
}

@media(max-width: 995px) {
    .pedido {
        width: 500px;
    }
    .produto {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        width: 400px;
        background-color: #fff;
        border-radius: 10px;
    }
    .produto img {
        width: 400px;
        height: 400px;
        background-color: #fff;
    }
}

@media(max-width: 962px) {
    nav {
        display: none;
        position: fixed;
        background-color: #ffde00;
        width: 70vw;
        top: 0;
        right: 0;
        bottom: 0;
    }
    .menu {
        display: block;
    }
    .close {
        display: block;
        margin: 10px;
    }
    ul {
        flex-direction: column;
    }
    li a {
        border-bottom: 0;
        border-left: 4px solid transparent;
    }
    li.active a {
        border-bottom: 0;
        border-left: 4px solid #367c2b;
    }
    li a:hover {
        background-color: #aa9300;
        border-bottom: 0;
        border-left: 4px solid #367c2b;
    }
}

@media(max-width: 566px) {
    .pedido {
        width: 275px;
    }
    .pedido h1 {
        font-size: 28px;
    }
    .produto {
        width: 250px;
    }
    .produto img {
        width: 225px;
        height: 225px;
    }
}

@media(max-width: 375px) {
    footer span {
        font-size: 10px;
    }
}